* {
	margin: 0;
	padding: 0;
}

body {
	
}

section { margin-bottom: 40px; }
h2 {
	color: #0C5DA2;
	margin-bottom: 15px;
}

.navbar {
	height: 80px;
	background-color: white !important;
}

.navbar .btn-primary {
	border-radius: 0;
	background-color: #0C5DA2;
	border: #0C5DA2;
	color: white;
}

.navbar-light .navbar-nav .btn-primary {
	color: white;
}

section#banner {
	width: 100%;
	min-height: 500px;
	background: url('../images/slider.jpg') no-repeat top center;
}

section#maps {
	margin-bottom: -6px;
}

footer {
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: white;
	background-color: #0C5DA2;
	text-align: center;
}